# Store Sales - Multiple Features Forecasting

https://www.kaggle.com/competitions/store-sales-time-series-forecasting

***In this project, forecasting will be processed with considering 'promotion' featureas well.<br>
Also, we will implement forecasting per each product family***

The evaluation metric for this competition is Root Mean Squared Logarithmic Error.

The RMSLE is calculated as:
$\sqrt{ \frac{1}{n} \sum_{i=1}^n \left(\log (1 + \hat{y}_i) - \log (1 + y_i)\right)^2}$
where:

ùëõ is the total number of instances,<br>
ùë¶ÃÇ ùëñ is the predicted value of the target for instance (i),<br>
ùë¶ùëñ is the actual value of the target for instance (i), and,<br>
log is the natural logarithm.

The training data; <br>
***store_nbr*** identifies the store at which the products are sold.<br>
***family*** identifies the type of product sold.<br>
***sales*** gives the total sales for a product family at a particular store at a given date.
Fractional values are possible since products can be sold in fractional units (1.5 kg of cheese, for instance, as opposed to 1 bag of chips).<br>
***onpromotion*** gives the total number of items in a product family that were being promoted at a store at a given date.

## Blue print

1. Investigate the dataset. (unique values, data type etc)
2. How to numerize *family* features?
3. How to convert *date* to time features?
4. Split *train* dataset to *ourtrain* and *ourtest* for pre-validation.
5. Apply various ML models. (Trend, Periodtogram, Cycles, Hybrid)
6. Choose the best model and apply to our test set.
7. Apply and make csv file for submition.

## Preprocessing

In [12]:
# Import packages
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
import datetime
import math
from statsmodels.tsa.deterministic import CalendarFourier, DeterministicProcess
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# Ignore Future Warning
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [113]:
# Load dataset
train = pd.read_csv('train.csv', parse_dates=["date"])
test = pd.read_csv('test.csv', parse_dates=["date"])

In [14]:
train.head()

   id       date  store_nbr      family  sales  onpromotion
0   0 2013-01-01          1  AUTOMOTIVE    0.0            0
1   1 2013-01-01          1   BABY CARE    0.0            0
2   2 2013-01-01          1      BEAUTY    0.0            0
3   3 2013-01-01          1   BEVERAGES    0.0            0
4   4 2013-01-01          1       BOOKS    0.0            0

#### - Error function : 
$\sqrt{ \frac{1}{n} \sum_{i=1}^n \left(\log (1 + \hat{y}_i) - \log (1 + y_i)\right)^2}$

ùëõ is the total number of instances,<br>
ùë¶ÃÇ ùëñ is the predicted value of the target for instance (i),<br>
ùë¶ùëñ is the actual value of the target for instance (i)

In [15]:
# Error Function (RMSLE)
def error(y_p, y_t):
    pred_log = np.array([math.log(i+1) for i in np.nditer(y_p)])
    act_log = np.array([math.log(i+1) for i in np.nditer(y_t)])
    dum_error = sum((pred_log - act_log)**2)/len(pred_log)
    linear_error = np.power(dum_error, 1/2)
    return round(linear_error, 4)

## 1. Data investigation

#### - train dataset
* shape : 3000888 √ó 6
* null : none
<br><br>
* *date* : timestamp. 2013-01-01 ~ 2017-08-15
* *store_nbr* : numpy. 1 ~ 54
* *family* : str. ['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY',
       'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES',
       'SEAFOOD']
* *sales* : numpy. 0 ~ 124717
* *onpromotion* : numpy. 0 ~ 741

#### - Correlation

In [16]:
# Check correlation
train.corr()

                   id  store_nbr     sales  onpromotion
id           1.000000   0.000301  0.085784     0.206260
store_nbr    0.000301   1.000000  0.041196     0.007286
sales        0.085784   0.041196  1.000000     0.427923
onpromotion  0.206260   0.007286  0.427923     1.000000

## 2. Generate subsets

In [122]:
whole_train = train.copy()
whole_test = test.copy()

# Generates subsets for each family
def generate_subsets(dataset, key):
    subset = dataset.loc[dataset["store_nbr"]==key, :]
    return subset

# Save the subsets in dictionary
train_subsets = {}
for key in train["store_nbr"].unique():
    train_subsets.update({key : generate_subsets(train, key)})

train_subsets

{1:               id       date  store_nbr                      family  \
 0              0 2013-01-01          1                  AUTOMOTIVE
 1              1 2013-01-01          1                   BABY CARE
 2              2 2013-01-01          1                      BEAUTY
 3              3 2013-01-01          1                   BEVERAGES
 4              4 2013-01-01          1                       BOOKS
 ...          ...        ...        ...                         ...
 2999134  2999134 2017-08-15          1                     POULTRY
 2999135  2999135 2017-08-15          1              PREPARED FOODS
 2999136  2999136 2017-08-15          1                     PRODUCE
 2999137  2999137 2017-08-15          1  SCHOOL AND OFFICE SUPPLIES
 2999138  2999138 2017-08-15          1                     SEAFOOD

                sales  onpromotion
 0           0.000000            0
 1           0.000000            0
 2           0.000000            0
 3           0.000000            0
 4           0.000000            0
 ...              ...          ...
 2999134   234.892000            0
 2999135    42.822998            0
 2999136  2240.230000            7
 2999137     0.000000            0
 2999138    22.487000            0

 [55572 rows x 6 columns],
 10:               id       date  store_nbr                      family    sales  \
 33            33 2013-01-01         10                  AUTOMOTIVE    0.000
 34            34 2013-01-01         10                   BABY CARE    0.000
 35            35 2013-01-01         10                      BEAUTY    0.000
 36            36 2013-01-01         10                   BEVERAGES    0.000
 37            37 2013-01-01         10                       BOOKS    0.000
 ...          ...        ...        ...                         ...      ...
 2999167  2999167 2017-08-15         10                     POULTRY  102.077
 2999168  2999168 2017-08-15         10              PREPARED FOODS   26.000
 2999169  2999169 2017-08-15         10                     PRODUCE  256.911
 2999170  2999170 2017-08-15         10  SCHOOL AND OFFICE SUPPLIES   18.000
 2999171  2999171 2017-08-15         10                     SEAFOOD   11.000

          onpromotion
 33                 0
 34                 0
 35                 0
 36                 0
 37                 0
 ...              ...
 2999167            0
 2999168            0
 2999169           62
 2999170            3
 2999171            0

 [55572 rows x 6 columns],
 11:               id       date  store_nbr                      family     sales  \
 66            66 2013-01-01         11                  AUTOMOTIVE     0.000
 67            67 2013-01-01         11                   BABY CARE     0.000
 68            68 2013-01-01         11                      BEAUTY     0.000
 69            69 2013-01-01         11                   BEVERAGES     0.000
 70            70 2013-01-01         11                       BOOKS     0.000
 ...          ...        ...        ...                         ...       ...
 2999200  2999200 2017-08-15         11                     POULTRY   526.459
 2999201  2999201 2017-08-15         11              PREPARED FOODS   111.556
 2999202  2999202 2017-08-15         11                     PRODUCE  2309.767
 2999203  2999203 2017-08-15         11  SCHOOL AND OFFICE SUPPLIES    25.000
 2999204  2999204 2017-08-15         11                     SEAFOOD     3.000

          onpromotion
 66                 0
 67                 0
 68                 0
 69                 0
 70                 0
 ...              ...
 2999200            0
 2999201            1
 2999202          138
 2999203            6
 2999204            0

 [55572 rows x 6 columns],
 12:               id       date  store_nbr                      family    sales  \
 99            99 2013-01-01         12                  AUTOMOTIVE    0.000
 100          100 2013-01-01         12                   BABY CARE    0.000
 101          101 2013-01-01         12                      BEAUTY    0.000
 102          102 2013-01-01         12                   BEVERAGES    0.000
 103          103 2013-01-01         12                       BOOKS    0.000
 ...          ...        ...        ...                         ...      ...
 2999233  2999233 2017-08-15         12                     POULTRY  162.205
 2999234  2999234 2017-08-15         12              PREPARED FOODS   61.000
 2999235  2999235 2017-08-15         12                     PRODUCE  393.182
 2999236  2999236 2017-08-15         12  SCHOOL AND OFFICE SUPPLIES   11.000
 2999237  2999237 2017-08-15         12                     SEAFOOD    1.000

          onpromotion
 99                 0
 100                0
 101                0
 102                0
 103                0
 ...              ...
 2999233            0
 2999234            0
 2999235           79
 2999236            4
 2999237            0

 [55572 rows x 6 columns],
 13:               id       date  store_nbr                      family    sales  \
 132          132 2013-01-01         13                  AUTOMOTIVE    0.000
 133          133 2013-01-01         13                   BABY CARE    0.000
 134          134 2013-01-01         13                      BEAUTY    0.000
 135          135 2013-01-01         13                   BEVERAGES    0.000
 136          136 2013-01-01         13                       BOOKS    0.000
 ...          ...        ...        ...                         ...      ...
 2999266  2999266 2017-08-15         13                     POULTRY   74.084
 2999267  2999267 2017-08-15         13              PREPARED FOODS   21.000
 2999268  2999268 2017-08-15         13                     PRODUCE  303.455
 2999269  2999269 2017-08-15         13  SCHOOL AND OFFICE SUPPLIES    7.000
 2999270  2999270 2017-08-15         13                     SEAFOOD    1.000

          onpromotion
 132                0
 133                0
 134                0
 135                0
 136                0
 ...              ...
 2999266            0
 2999267            0
 2999268           49
 2999269            6
 2999270            0

 [55572 rows x 6 columns],
 14:               id       date  store_nbr                      family    sales  \
 165          165 2013-01-01         14                  AUTOMOTIVE    0.000
 166          166 2013-01-01         14                   BABY CARE    0.000
 167          167 2013-01-01         14                      BEAUTY    0.000
 168          168 2013-01-01         14                   BEVERAGES    0.000
 169          169 2013-01-01         14                       BOOKS    0.000
 ...          ...        ...        ...                         ...      ...
 2999299  2999299 2017-08-15         14                     POULTRY   50.337
 2999300  2999300 2017-08-15         14              PREPARED FOODS  107.000
 2999301  2999301 2017-08-15         14                     PRODUCE  551.648
 2999302  2999302 2017-08-15         14  SCHOOL AND OFFICE SUPPLIES    4.000
 2999303  2999303 2017-08-15         14                     SEAFOOD    6.000

          onpromotion
 165                0
 166                0
 167                0
 168                0
 169                0
 ...              ...
 2999299            1
 2999300            0
 2999301           88
 2999302            3
 2999303            0

 [55572 rows x 6 columns],
 15:               id       date  store_nbr                      family     sales  \
 198          198 2013-01-01         15                  AUTOMOTIVE     0.000
 199          199 2013-01-01         15                   BABY CARE     0.000
 200          200 2013-01-01         15                      BEAUTY     0.000
 201          201 2013-01-01         15                   BEVERAGES     0.000
 202          202 2013-01-01         15                       BOOKS     0.000
 ...          ...        ...        ...                         ...       ...
 2999332  2999332 2017-08-15         15                     POULTRY   128.693
 2999333  2999333 2017-08-15         15              PREPARED FOODS    61.000
 2999334  2999334 2017-08-15         15                     PRODUCE  1047.301
 2999335  2999335 2017-08-15         15  SCHOOL AND OFFICE SUPPLIES     3.000
 2999336  2999336 2017-08-15         15                     SEAFOOD     4.000

          onpromotion
 198                0
 199                0
 200                0
 201                0
 202                0
 ...              ...
 2999332            0
 2999333            1
 2999334          105
 2999335            3
 2999336            0

 [55572 rows x 6 columns],
 16:               id       date  store_nbr                      family    sales  \
 231          231 2013-01-01         16                  AUTOMOTIVE    0.000
 232          232 2013-01-01         16                   BABY CARE    0.000
 233          233 2013-01-01         16                      BEAUTY    0.000
 234          234 2013-01-01         16                   BEVERAGES    0.000
 235          235 2013-01-01         16                       BOOKS    0.000
 ...          ...        ...        ...                         ...      ...
 2999365  2999365 2017-08-15         16                     POULTRY   64.859
 2999366  2999366 2017-08-15         16              PREPARED FOODS   41.000
 2999367  2999367 2017-08-15         16                     PRODUCE  913.778
 2999368  2999368 2017-08-15         16  SCHOOL AND OFFICE SUPPLIES    0.000
 2999369  2999369 2017-08-15         16                     SEAFOOD    2.000

          onpromotion
 231                0
 232                0
 233                0
 234                0
 235                0
 ...              ...
 2999365            0
 2999366            0
 2999367           85
 2999368            0
 2999369            0

 [55572 rows x 6 columns],
 17:               id       date  store_nbr                      family     sales  \
 264          264 2013-01-01         17                  AUTOMOTIVE     0.000
 265          265 2013-01-01         17                   BABY CARE     0.000
 266          266 2013-01-01         17                      BEAUTY     0.000
 267          267 2013-01-01         17                   BEVERAGES     0.000
 268          268 2013-01-01         17                       BOOKS     0.000
 ...          ...        ...        ...                         ...       ...
 2999398  2999398 2017-08-15         17                     POULTRY   314.182
 2999399  2999399 2017-08-15         17              PREPARED FOODS    61.000
 2999400  2999400 2017-08-15         17                     PRODUCE  2300.077
 2999401  2999401 2017-08-15         17  SCHOOL AND OFFICE SUPPLIES    57.000
 2999402  2999402 2017-08-15         17                     SEAFOOD    15.000

          onpromotion
 264                0
 265                0
 266                0
 267                0
 268                0
 ...              ...
 2999398            0
 2999399            0
 2999400          122
 2999401            6
 2999402            0

 [55572 rows x 6 columns],
 18:               id       date  store_nbr                      family  \
 297          297 2013-01-01         18                  AUTOMOTIVE
 298          298 2013-01-01         18                   BABY CARE
 299          299 2013-01-01         18                      BEAUTY
 300          300 2013-01-01         18                   BEVERAGES
 301          301 2013-01-01         18                       BOOKS
 ...          ...        ...        ...                         ...
 2999431  2999431 2017-08-15         18                     POULTRY
 2999432  2999432 2017-08-15         18              PREPARED FOODS
 2999433  2999433 2017-08-15         18                     PRODUCE
 2999434  2999434 2017-08-15         18  SCHOOL AND OFFICE SUPPLIES
 2999435  2999435 2017-08-15         18                     SEAFOOD

                sales  onpromotion
 297         0.000000            0
 298         0.000000            0
 299         0.000000            0
 300         0.000000            0
 301         0.000000            0
 ...              ...          ...
 2999431   145.543000            0
 2999432    71.548996            0
 2999433  3164.252000          155
 2999434    30.000000            7
 2999435    21.364000            0

 [55572 rows x 6 columns],
 19:               id       date  store_nbr                      family    sales  \
 330          330 2013-01-01         19                  AUTOMOTIVE    0.000
 331          331 2013-01-01         19                   BABY CARE    0.000
 332          332 2013-01-01         19                      BEAUTY    0.000
 333          333 2013-01-01         19                   BEVERAGES    0.000
 334          334 2013-01-01         19                       BOOKS    0.000
 ...          ...        ...        ...                         ...      ...
 2999464  2999464 2017-08-15         19                     POULTRY   72.127
 2999465  2999465 2017-08-15         19              PREPARED FOODS   31.000
 2999466  2999466 2017-08-15         19                     PRODUCE  554.620
 2999467  2999467 2017-08-15         19  SCHOOL AND OFFICE SUPPLIES   14.000
 2999468  2999468 2017-08-15         19                     SEAFOOD   12.000

          onpromotion
 330                0
 331                0
 332                0
 333                0
 334                0
 ...              ...
 2999464            0
 2999465            0
 2999466           77
 2999467            2
 2999468            0

 [55572 rows x 6 columns],
 2:               id       date  store_nbr                      family  \
 363          363 2013-01-01          2                  AUTOMOTIVE
 364          364 2013-01-01          2                   BABY CARE
 365          365 2013-01-01          2                      BEAUTY
 366          366 2013-01-01          2                   BEVERAGES
 367          367 2013-01-01          2                       BOOKS
 ...          ...        ...        ...                         ...
 2999497  2999497 2017-08-15          2                     POULTRY
 2999498  2999498 2017-08-15          2              PREPARED FOODS
 2999499  2999499 2017-08-15          2                     PRODUCE
 2999500  2999500 2017-08-15          2  SCHOOL AND OFFICE SUPPLIES
 2999501  2999501 2017-08-15          2                     SEAFOOD

                sales  onpromotion
 363         0.000000            0
 364         0.000000            0
 365         0.000000            0
 366         0.000000            0
 367         0.000000            0
 ...              ...          ...
 2999497   365.424000            0
 2999498    90.849000            0
 2999499  2006.874000            8
 2999500     0.000000            0
 2999501    32.718002            0

 [55572 rows x 6 columns],
 20:               id       date  store_nbr                      family     sales  \
 396          396 2013-01-01         20                  AUTOMOTIVE     0.000
 397          397 2013-01-01         20                   BABY CARE     0.000
 398          398 2013-01-01         20                      BEAUTY     0.000
 399          399 2013-01-01         20                   BEVERAGES     0.000
 400          400 2013-01-01         20                       BOOKS     0.000
 ...          ...        ...        ...                         ...       ...
 2999530  2999530 2017-08-15         20                     POULTRY   273.341
 2999531  2999531 2017-08-15         20              PREPARED FOODS    66.982
 2999532  2999532 2017-08-15         20                     PRODUCE  1343.671
 2999533  2999533 2017-08-15         20  SCHOOL AND OFFICE SUPPLIES    92.000
 2999534  2999534 2017-08-15         20                     SEAFOOD     5.000

          onpromotion
 396                0
 397                0
 398                0
 399                0
 400                0
 ...              ...
 2999530            0
 2999531            0
 2999532          124
 2999533            7
 2999534            0

 [55572 rows x 6 columns],
 21:               id       date  store_nbr                      family     sales  \
 429          429 2013-01-01         21                  AUTOMOTIVE     0.000
 430          430 2013-01-01         21                   BABY CARE     0.000
 431          431 2013-01-01         21                      BEAUTY     0.000
 432          432 2013-01-01         21                   BEVERAGES     0.000
 433          433 2013-01-01         21                       BOOKS     0.000
 ...          ...        ...        ...                         ...       ...
 2999563  2999563 2017-08-15         21                     POULTRY   138.924
 2999564  2999564 2017-08-15         21              PREPARED FOODS   135.858
 2999565  2999565 2017-08-15         21                     PRODUCE  2310.433
 2999566  2999566 2017-08-15         21  SCHOOL AND OFFICE SUPPLIES     0.000
 2999567  2999567 2017-08-15         21                     SEAFOOD     3.000

          onpromotion
 429                0
 430                0
 431                0
 432                0
 433                0
 ...              ...
 2999563            1
 2999564            0
 2999565          132
 2999566            0
 2999567            0

 [55572 rows x 6 columns],
 22:               id       date  store_nbr                      family      sales  \
 462          462 2013-01-01         22                  AUTOMOTIVE    0.00000
 463          463 2013-01-01         22                   BABY CARE    0.00000
 464          464 2013-01-01         22                      BEAUTY    0.00000
 465          465 2013-01-01         22                   BEVERAGES    0.00000
 466          466 2013-01-01         22                       BOOKS    0.00000
 ...          ...        ...        ...                         ...        ...
 2999596  2999596 2017-08-15         22                     POULTRY  131.07399
 2999597  2999597 2017-08-15         22              PREPARED FOODS   31.00000
 2999598  2999598 2017-08-15         22                     PRODUCE  634.96500
 2999599  2999599 2017-08-15         22  SCHOOL AND OFFICE SUPPLIES    8.00000
 2999600  2999600 2017-08-15         22                     SEAFOOD    1.00000

          onpromotion
 462                0
 463                0
 464                0
 465                0
 466                0
 ...              ...
 2999596            0
 2999597            0
 2999598           98
 2999599            4
 2999600            0

 [55572 rows x 6 columns],
 23:               id       date  store_nbr                      family     sales  \
 495          495 2013-01-01         23                  AUTOMOTIVE     0.000
 496          496 2013-01-01         23                   BABY CARE     0.000
 497          497 2013-01-01         23                      BEAUTY     0.000
 498          498 2013-01-01         23                   BEVERAGES     0.000
 499          499 2013-01-01         23                       BOOKS     0.000
 ...          ...        ...        ...                         ...       ...
 2999629  2999629 2017-08-15         23                     POULTRY   439.349
 2999630  2999630 2017-08-15         23              PREPARED FOODS    22.795
 2999631  2999631 2017-08-15         23                     PRODUCE  1156.310
 2999632  2999632 2017-08-15         23  SCHOOL AND OFFICE SUPPLIES     0.000
 2999633  2999633 2017-08-15         23                     SEAFOOD     2.000

          onpromotion
 495                0
 496                0
 497                0
 498                0
 499                0
 ...              ...
 2999629            0
 2999630            0
 2999631            7
 2999632            0
 2999633            0

 [55572 rows x 6 columns],
 24:               id       date  store_nbr                      family  \
 528          528 2013-01-01         24                  AUTOMOTIVE

## 3. One Hot Encode *'family'* features

In [123]:
# Integer encode
label_encoderF = LabelEncoder()
integer_encodedF = label_encoderF.fit_transform(whole_train['family'])

# Binary encode
onehot_encoderF = OneHotEncoder(sparse=False)
integer_encodedF = integer_encodedF.reshape(len(integer_encodedF), 1)
onehot_encodedF = onehot_encoderF.fit_transform(integer_encodedF)
# print(onehot_encodedF.shape, '\n', onehot_encodedF)

In [124]:
# Rename
onehot_encodedF = pd.DataFrame(onehot_encodedF)
onehot_encodedF = onehot_encodedF.rename(columns = {0:'AUTOMOTIVE', 1:'BABY CARE', 2:'BEAUTY', 3:'BEVERAGES', 
        4:'BOOKS', 5:'BREAD/BAKERY', 6:'CELEBRATION', 7:'CLEANING', 8:'DAIRY', 9:'DELI', 10:'EGGS',
        11:'FROZEN FOODS', 12:'GROCERY I', 13:'GROCERY II', 14:'HARDWARE',
        15:'HOME AND KITCHEN I', 16:'HOME AND KITCHEN II', 17:'HOME APPLIANCES',
        18:'HOME CARE', 19:'LADIESWEAR', 20:'LAWN AND GARDEN', 21:'LINGERIE',
        22:'LIQUOR,WINE,BEER', 23:'MAGAZINES', 24:'MEATS', 25:'PERSONAL CARE',
        26:'PET SUPPLIES', 27:'PLAYERS AND ELECTRONICS', 28:'POULTRY',
        29:'PREPARED FOODS', 30:'PRODUCE', 31:'SCHOOL AND OFFICE SUPPLIES',
        32:'SEAFOOD'})

In [125]:
# Add to train dataset
whole_train = pd.concat([whole_train, onehot_encodedF], axis=1) # Combine
whole_train = whole_train.drop(columns=['family'])              # Drop string values
print(whole_train.shape)
whole_train.head()

(3000888, 38)

,id,date,store_nbr,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
0,0,2013-01-01,1,0.0,0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2013-01-01,1,0.0,0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2013-01-01,1,0.0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2013-01-01,1,0.0,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2013-01-01,1,0.0,0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 4. One Hot Encode *'store_nbr'* features

In [126]:
# Convert to numpy
integer_encodedS = np.array(whole_train['store_nbr'])

# Binary encode
onehot_encoderS = OneHotEncoder(sparse=False)
integer_encodedS = integer_encodedS.reshape(len(integer_encodedS), 1)
onehot_encodedS = onehot_encoderS.fit_transform(integer_encodedS)
# print(onehot_encodedS.shape, '\n', onehot_encodedS)

In [127]:
# Add to train dataset
onehot_encodedS = pd.DataFrame(onehot_encodedS)
whole_train = pd.concat([whole_train, onehot_encodedS], axis=1) # Combine
whole_train = whole_train.drop(columns=['store_nbr'])           # Drop string values
print(whole_train.shape)
whole_train.head()

(3000888, 91)

,id,date,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,44,45,46,47,48,49,50,51,52,53
0,0,2013-01-01,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2013-01-01,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2013-01-01,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2013-01-01,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2013-01-01,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 5. Convert *'date'* to time features

In [128]:
# Make 'date' as an index
whole_train = pd.DataFrame(whole_train)
whole_train = whole_train.set_index('date')
whole_train = whole_train.to_period('D')
print(whole_train.shape, whole_train.head())

(3000888, 90)             id  sales  onpromotion  AUTOMOTIVE  BABY CARE  BEAUTY  BEVERAGES  \
date
2013-01-01   0    0.0            0         1.0        0.0     0.0        0.0
2013-01-01   1    0.0            0         0.0        1.0     0.0        0.0
2013-01-01   2    0.0            0         0.0        0.0     1.0        0.0
2013-01-01   3    0.0            0         0.0        0.0     0.0        1.0
2013-01-01   4    0.0            0         0.0        0.0     0.0        0.0

            BOOKS  BREAD/BAKERY  CELEBRATION  ...   44   45   46   47   48  \
date                                          ...
2013-01-01    0.0           0.0          0.0  ...  0.0  0.0  0.0  0.0  0.0
2013-01-01    0.0           0.0          0.0  ...  0.0  0.0  0.0  0.0  0.0
2013-01-01    0.0           0.0          0.0  ...  0.0  0.0  0.0  0.0  0.0
2013-01-01    0.0           0.0          0.0  ...  0.0  0.0  0.0  0.0  0.0
2013-01-01    1.0           0.0          0.0  ...  0.0  0.0  0.0  0.0  0.0

             49   50   51   52   53
date
2013-01-01  0.0  0.0  0.0  0.0  0.0
2013-01-01  0.0  0.0  0.0  0.0  0.0
2013-01-01  0.0  0.0  0.0  0.0  0.0
2013-01-01  0.0  0.0  0.0  0.0  0.0
2013-01-01  0.0  0.0  0.0  0.0  0.0

[5 rows x 90 columns]

In [129]:
# Split 'date' into detailed features
whole_train["day"] = whole_train.index.dayofweek
whole_train["week"] = whole_train.index.week
whole_train["dayofyear"] = whole_train.index.dayofyear
whole_train["year"] = whole_train.index.year

print(whole_train.shape)
whole_train.head()

(3000888, 94)

,id,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,...,48,49,50,51,52,53,day,week,dayofyear,year
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013
2013-01-01,1,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013
2013-01-01,2,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013
2013-01-01,3,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013
2013-01-01,4,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013

## 6. Split *train* dataset into *ourtrain* and *ourtest*

In [130]:
ourtrain = whole_train[whole_train.index < '2017-01-01']    # 2013-01-01 ~ 2016-12-31
ourtest = whole_train[whole_train.index > '2016-12-31']     # 2017-01-01 ~ 2017-08-15

print(len(ourtrain)+len(ourtest))

3000888

In [131]:
ourtrain.head()

,id,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,...,48,49,50,51,52,53,day,week,dayofyear,year
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013
2013-01-01,1,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013
2013-01-01,2,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013
2013-01-01,3,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013
2013-01-01,4,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1,2013

In [132]:
ourtest.head()

,id,sales,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,...,48,49,50,51,52,53,day,week,dayofyear,year
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,2596374,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6,52,1,2017
2017-01-01,2596375,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6,52,1,2017
2017-01-01,2596376,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6,52,1,2017
2017-01-01,2596377,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6,52,1,2017
2017-01-01,2596378,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6,52,1,2017

## 7. Apply various ML models

### 1) Trend

In [133]:
# Fit data to trend model
def trend(ourtrain, ourtest):  

    # Targets
    y_train = ourtrain['sales']
    y_test = ourtest['sales']
    
    # Create features
    trend_dp = DeterministicProcess(
    index=ourtrain.index,   # dates from the training data
    constant=True,       # dummy feature for the bias (y_intercept)
    order=2,             # the time dummy (trend)
    drop=True,           # drop terms if necessary to avoid collinearity
    )

    # `in_sample` creates features for the dates given in the `index` argument
    X_train = trend_dp.in_sample()

    # Fit model
    model = LinearRegression(fit_intercept=False)
    model.fit(X_train, y_train)

    # Out of Sample 
    X_oos = trend_dp.out_of_sample(steps=len(ourtest.index))
    y_fore = pd.Series(model.predict(X_oos), index=X_oos.index)
    y_fore = y_fore.reindex(ourtest.index)

    return y_fore, y_test

In [134]:
# Compute errors
trend_fore, trend_test = trend(ourtrain, ourtest)
trend_error = error(trend_fore, trend_test)
print("Total Error from Trend model: ", round(trend_error, 4))

Total Error from Trend model:  3.6426

### 2) Periodogram

In [135]:
train_subsets[1]

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000000,0
1,1,2013-01-01,1,BABY CARE,0.000000,0
2,2,2013-01-01,1,BEAUTY,0.000000,0
3,3,2013-01-01,1,BEVERAGES,0.000000,0
4,4,2013-01-01,1,BOOKS,0.000000,0
...,...,...,...,...,...,...
2999134,2999134,2017-08-15,1,POULTRY,234.892000,0
2999135,2999135,2017-08-15,1,PREPARED FOODS,42.822998,0
2999136,2999136,2017-08-15,1,PRODUCE,2240.230000,7
2999137,2999137,2017-08-15,1,SCHOOL AND OFFICE SUPPLIES,0.000000,0
2999138,2999138,2017-08-15,1,SEAFOOD,22.487000,0

In [55]:
def seasonal(ourtrain, ourtest, error):

    y_test = ourtest['sales']

    # 12 sin/cos pairs for "A"nnual seasonality
    fourier = CalendarFourier(freq="A", order=12)
    
    season_dp = DeterministicProcess(
        index=ourtrain.index,
        constant=True,               # dummy feature for bias (y-intercept)
        order=1,                     # trend (order 1 means linear)
        seasonal=True,               # weekly seasonality (indicators)
        additional_terms=[fourier],  # annual seasonality (fourier)
        drop=True,                   # drop terms to avoid collinearity
    )

    X = season_dp.in_sample()  # create features for dates in ourtrain.index
    y = ourtrain["sales"]

    season_model = LinearRegression(fit_intercept=False)
    _ = season_model.fit(X, y)

    # # sales values computed from season_model
    # y_season_pred = pd.Series(season_model.predict(X), index=y.index) 

    # Forecasting for 2017-01-01 ~ 2017-08-15
    X_fore = season_dp.out_of_sample(steps=len(y_test))
    y_fore = pd.Series(season_model.predict(X_fore), index=X_fore.index)

    return error(y_fore, y_test)

In [56]:
# pd.to_datetime(date_col_to_force, errors = 'coerce')
seasonal_error = seasonal(ourtrain, ourtest, error)
print("Total Error from Seasonl model: ", round(seasonal_error, 4))

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2262-04-12 00:00:00

### 3) Cycles

In [65]:
def lagplot(x, y=None, lag=1, standardize=False, ax=None, **kwargs):
    from matplotlib.offsetbox import AnchoredText
    x_ = x.shift(lag)
    if standardize:
        x_ = (x_ - x_.mean()) / x_.std()
    if y is not None:
        y_ = (y - y.mean()) / y.std() if standardize else y
    else:
        y_ = x
    corr = y_.corr(x_)
    if ax is None:
        fig, ax = plt.subplots()
    scatter_kws = dict(
        alpha=0.75,
        s=3,
    )
    line_kws = dict(color='C3', )
    ax = sns.regplot(x=x_,
                     y=y_,
                     scatter_kws=scatter_kws,
                     line_kws=line_kws,
                     lowess=True,
                     ax=ax,
                     **kwargs)
    at = AnchoredText(
        f"{corr:.2f}",
        prop=dict(size="large"),
        frameon=True,
        loc="upper left",
    )
    at.patch.set_boxstyle("square, pad=0.0")
    ax.add_artist(at)
    ax.set(title=f"Lag {lag}", xlabel=x_.name, ylabel=y_.name)
    return ax

In [66]:
def plot_lags(x, y=None, lags=6, nrows=1, lagplot_kwargs={}, **kwargs):
    import math
    kwargs.setdefault('nrows', nrows)
    kwargs.setdefault('ncols', math.ceil(lags / nrows))
    kwargs.setdefault('figsize', (kwargs['ncols'] * 2, nrows * 2 + 0.5))
    fig, axs = plt.subplots(sharex=True, sharey=True, squeeze=False, **kwargs)
    for ax, k in zip(fig.get_axes(), range(kwargs['nrows'] * kwargs['ncols'])):
        if k + 1 <= lags:
            ax = lagplot(x, y, lag=k + 1, ax=ax, **lagplot_kwargs)
            ax.set_title(f"Lag {k + 1}", fontdict=dict(fontsize=14))
            ax.set(xlabel="", ylabel="")
        else:
            ax.axis('off')
    plt.setp(axs[-1, :], xlabel=x.name)
    plt.setp(axs[:, 0], ylabel=y.name if y is not None else x.name)
    fig.tight_layout(w_pad=0.1, h_pad=0.1)
    return fig

In [ ]:
# Partial Autocorrelataion
from statsmodels.graphics.tsaplots import plot_pacf

plot_lags(ourtrain.sales, lags=12, nrows=2)
_ = plot_pacf(ourtrain.sales, lags=12)

In [ ]:
def make_lags(ts, lags):
    return pd.concat(
        {
            f'y_lag_{i}': ts.shift(i)
            for i in range(1, lags + 1)
        },
        axis=1)

In [ ]:
def cycle(subset, error):
    
    X = make_lags(subset.sales, lags=7)
    X = X.fillna(0.0)
    y = subset.sales

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=int(len(X.index)*0.3), shuffle=False)

    ts_model = LinearRegression()  # `fit_intercept=True` since we didn't use DeterministicProcess
    ts_model.fit(X_train, y_train)
    y_fore = pd.Series(ts_model.predict(X_test), index=X_test.index)
    y_fore[y_fore < 0] = 0

    return error(y_fore, y_test)

In [ ]:
# pd.to_datetime(date_col_to_force, errors = 'coerce')
cycle_error = cycle(ourtrain, ourtest, error)
print("Total Error from Cycle model: ", round(seasonal_error, 4))

### 4) Hybrid

## 8. Modify test dataset

### - One Hot Encode 'family' features

In [69]:
# Integer encode
label_encoderTEST = LabelEncoder() 
integer_encodedTEST = label_encoderTEST.fit_transform(test['family'])

# Binary encode
onehot_encoderTEST = OneHotEncoder(sparse=False)   
integer_encodedTEST = integer_encodedTEST.reshape(len(integer_encodedTEST), 1)
onehot_encodedTEST = onehot_encoderTEST.fit_transform(integer_encodedTEST)

onehot_encodedTEST = pd.DataFrame(onehot_encodedTEST)
onehot_encodedTEST = onehot_encodedTEST.rename(columns = {0:'AUTOMOTIVE', 1:'BABY CARE', 2:'BEAUTY', 3:'BEVERAGES', 
        4:'BOOKS', 5:'BREAD/BAKERY', 6:'CELEBRATION', 7:'CLEANING', 8:'DAIRY', 9:'DELI', 10:'EGGS',
        11:'FROZEN FOODS', 12:'GROCERY I', 13:'GROCERY II', 14:'HARDWARE',
        15:'HOME AND KITCHEN I', 16:'HOME AND KITCHEN II', 17:'HOME APPLIANCES',
        18:'HOME CARE', 19:'LADIESWEAR', 20:'LAWN AND GARDEN', 21:'LINGERIE',
        22:'LIQUOR,WINE,BEER', 23:'MAGAZINES', 24:'MEATS', 25:'PERSONAL CARE',
        26:'PET SUPPLIES', 27:'PLAYERS AND ELECTRONICS', 28:'POULTRY',
        29:'PREPARED FOODS', 30:'PRODUCE', 31:'SCHOOL AND OFFICE SUPPLIES',
        32:'SEAFOOD'})  # Rename

# Add to train dataset
test = pd.concat([test, onehot_encodedTEST], axis=1) # Combine
test = test.drop(columns=['family'])              # Drop string values
print(test.shape)
test.head()

(28512, 37)

,id,date,store_nbr,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
0,3000888,2017-08-16,1,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000889,2017-08-16,1,0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000890,2017-08-16,1,2,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000891,2017-08-16,1,20,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000892,2017-08-16,1,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### - One Hot Encode 'store_nbr' features

In [70]:
# Convert to numpy
integer_encodedTEST2 = np.array(test['store_nbr']) 

# Binary encode
onehot_encoderTEST2 = OneHotEncoder(sparse=False)
integer_encodedTEST2 = integer_encodedTEST2.reshape(len(integer_encodedTEST2), 1)
onehot_encodedTEST2 = onehot_encoderTEST2.fit_transform(integer_encodedTEST2)

# Add to train dataset
onehot_encodedTEST2 = pd.DataFrame(onehot_encodedTEST2)
test = pd.concat([test, onehot_encodedTEST2], axis=1) # Combine
test = test.drop(columns=['store_nbr'])           # Drop string values
print(test.shape)
test.head()

(28512, 90)

,id,date,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,...,44,45,46,47,48,49,50,51,52,53
0,3000888,2017-08-16,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000889,2017-08-16,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000890,2017-08-16,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000891,2017-08-16,20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000892,2017-08-16,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
# Make 'date' as an index
test = pd.DataFrame(test)
test = test.set_index('date')
test = test.to_period('D')

# Split 'date' into detailed features
test["day"] = test.index.dayofweek
test["week"] = test.index.week
test["dayofyear"] = test.index.dayofyear
test["year"] = test.index.year

print(test.shape)
test.head()

(28512, 93)

,id,onpromotion,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,CLEANING,...,48,49,50,51,52,53,day,week,dayofyear,year
date,,,,,,,,,,,,,,,,,,,,,
2017-08-16,3000888,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,33,228,2017
2017-08-16,3000889,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,33,228,2017
2017-08-16,3000890,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,33,228,2017
2017-08-16,3000891,20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,33,228,2017
2017-08-16,3000892,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2,33,228,2017

## 9. Proceed forecasting with the best model

In [87]:
# Modify the trend model
def trend_modified(train, test):  

    # Targets
    y_train = train['sales']
    
    # Create features
    trend_dp = DeterministicProcess(
    index=train.index,   # dates from the training data
    constant=True,       # dummy feature for the bias (y_intercept)
    order=2,             # the time dummy (trend)
    drop=True,           # drop terms if necessary to avoid collinearity
    )

    # `in_sample` creates features for the dates given in the `index` argument
    X_train = trend_dp.in_sample()

    # Fit model
    model = LinearRegression(fit_intercept=False)
    model.fit(X_train, y_train)

    # Out of Sample 
    X_oos = trend_dp.out_of_sample(steps=len(test.index))
    y_fore = pd.Series(model.predict(X_oos), index=X_oos.index)

    return y_fore

In [88]:
# train : 2013-01-01 ~ 2017-08-15
# test : 2017-08-16 ~ 2017-08-31

y_fore = trend_modified(train, test)
print(y_fore.shape, type(y_fore))
y_fore

(28512,) <class 'pandas.core.series.Series'>

2017-08-16    497.712021
2017-08-17    497.712083
2017-08-18    497.712145
2017-08-19    497.712206
2017-08-20    497.712268
                 ...
2095-09-03    499.453420
2095-09-04    499.453480
2095-09-05    499.453541
2095-09-06    499.453602
2095-09-07    499.453662
Freq: D, Length: 28512, dtype: float64

In [89]:
print(test.shape, type(test))

(28512, 93) <class 'pandas.core.frame.DataFrame'>

## 10. Generate csv file